<section id="service" class="section">
  <div class="container text-center">
      <h6 class="subtitle">Service</h6>
      <h6 class="section-title mb-4">What I Do</h6>
      <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>

      <div class="row">

        <ng-template ngFor let-service [ngForOf]="servicedata">
      <div  class="col-sm-6 col-md-3 mb-4">
            <div class="custom-card card border">
                <div class="card-body">
                    <i class="icon ti-crown"></i>
                    <h5>{{service}}</h5>
                </div>
            </div>
      </div>
    </ng-template>

      </div>
  </div>
</section>
